:root {
  --color-primary: #007aff;
  --color-primary-tap: linear-gradient(270deg, #e0b48b 0%, #f0d4b6 100%);
  --color-warning: #ff891e;
  --color-purple: #d907ff;
  --color-error: #f4333c;
  --color-tap: #e5e5e5;
  --color-divider: #e5e5e5;
  --color-divider-secondary: #f3f3f3;
  --color-icon-base: #ccc;

  --color-text-white: #fff;

  --color-text-base: #353535;
  --color-text-secondary: #888888;
  --color-text-placeholder: #b2b2b2;
  --color-text-light: #cccccc;

  --color-dark-text-base: #f0f1f5;
  --color-dark-text-secondary: #9599a1;
  --color-dark-text-placeholder: #676d79;
  --color-dark-text-light: #cccccc;

  --fill-base: #fff;
  --fill-body: #f5f5f9;
  --fill-mask: rgba(0, 0, 0, 0.6);

  --opacity-disabled: 0.3;

  --border-color-base: #e5e5e5;
  --border-color-dark: #191e27;

  --fontsize-large-xxxx: 30px;
  --fontsize-large-xxx: 24px;
  --fontsize-large-xx: 20px;
  --fontsize-large-x: 18px;
  --fontsize-large: 16px;
  --fontsize-medium: 14px;
  --fontsize-small: 12px;
  --fontsize-small-s: 10px;

  --radius-size-normal: 4px;
  --radius-size-small: 2px;
  --radius-circle: 50%;

  --line-height-base: 1;
  --line-height-paragraph: 1.5;

  --action-sheet-bgc: var(--fill-base);
  --action-sheet-color: var(--color-text-base);
  --action-sheet-active-bgc: var(--color-tap);
  --action-sheet-active-color: var(--color-primary);
  --action-sheet-title-color: var(--color-text-base);
  --action-sheet-space-bgc: #edeff3;
  --action-sheet-picker-cancel-color: var(--color-text-light);

  --button-height: 50px;
  --button-font-size: var(--fontsize-large);

  --button-primary-text: #704528;
  --button-primary-fill: linear-gradient(270deg,rgba(224,180,139,1) 0%,rgba(240,212,182,1) 100%);;
  --button-primary-tap-fill: var(--color-primary-tap);
  --button-primary-tap-color: #704528;
  --button-primary-disabled-fill: #d5dbe4;
  --button-primary-disabled-color: #f6f7f9;
  --button-primary-inactive-fill: #66afff;
  --button-primary-inactive-color: #b2d7ff;
  --button-defalut-color: var(--color-text-base);
  --button-default-tap-fill: #cccccc;
  --button-default-tap-color: #9e9e9e;
  --button-default-disabled-fill: #ededed;
  --button-default-disabled-color: #b5b5b5;
  --button-warning-fill: var(--color-warning);
  --button-warning-tap-fill: #e57b1a;
  --button-warning-tap-color: #f2bd8c;
  --button-warning-disabled-fill: #ffd0a5;
  --button-warning-disabled-color: #fff5ed;
  --button-plain-color: var(--color-text-base);
  --button-plain-border-color: rgba(0, 0, 0, 0.1);
  --button-plain-active-bg: var(--button-default-tap-fill);
  --button-plain-disabled-color: var(--button-default-disabled-color);
  --button-plain-disabled-border-color: rgba(0, 0, 0, 0.1);
  --button-plain-disabled-bg: var(--button-default-disabled-fill);

  --button-group-border: var(--border-color-base);

  --cell-color: var(--color-text-base);
  --cell-value-color: var(--color-text-secondary);
  --cell-group-bg: #fff;
  --cell-border: var(--border-color-base);

  --dialog-color: #0a1428;
  --dialog-bgc: var(--color-text-white);
  --dialog-icon-color: #4a4c5b;
  --dialog-icon-bgc: #f3f4f5;
  --dialog-title-color: #0a1428;
  --dialog-close-color: #999;
  --dialog-btn-color: #0a1428;
  --dialog-btn-bgc: var(--color-text-white);
  --dialog-btn-active-bgc: rgba(0, 0, 0, 0.04);
  --dialog-btn-highlight-color: var(--color-primary);
  --dialog-btn-highlight-active-bgc: rgba(252, 145, 83, 0.04);
  --dialog-btn-disabled-color: #999;
  --dialog-btn-disabled-active-bgc: transparent;
  --dialog-btns-split-color: #edeff3;

  --divider-border-color: var(--color-divider);

  --index-list-bgc: var(--color-text-white);
  --index-list-title-color: #0a1428;
  --index-list-anchor-color: #999;
  --index-list-anchor-bgc: #f7f7f7;
  --index-list-item-color: #0a1428;
  --index-list-item-active-bgc: rgba(0, 0, 0, 0.04);
  --index-list-nav-color: #666;
  --index-list-nav-active-color: var(--color-primary);

  --input-item-fake-color: var(--color-text-base);

  --modal-color: #0a1428;
  --modal-bgc: var(--color-text-white);
  --modal-icon-color: #4a4c5b;
  --modal-icon-bgc: #f3f4f5;
  --modal-title-color: #0a1428;
  --modal-close-color: #999;
  --modal-btn-color: #0a1428;
  --modal-btn-bgc: var(--color-text-white);
  --modal-btn-active-bgc: rgba(0, 0, 0, 0.04);
  --modal-btn-highlight-color: var(--color-primary);
  --modal-btn-highlight-active-bgc: rgba(252, 145, 83, 0.04);
  --modal-btn-disabled-color: #999;
  --modal-btn-disabled-active-bgc: transparent;
  --modal-btns-split-color: #edeff3;

  --number-keyboard-border: #efeff4;

  --picker-bgc: var(--color-text-white);
  --picker-title-color: var(--color-text-base);
  --picker-subtitle-color: var(--color-text-base);
  --picker-confirm-btn-color: var(--color-primary);
  --picker-confirm-btn-active-color: #fdc2a5;
  --picker-cancel-btn-color: var(--color-text-base);
  --picker-cancel-btn-active-color: var(--color-text-base);
  --picker-item-color: var(--color-text-base);
  --picker-lr-padding: 16px;

  --popup-mask-bgc: var(--fill-mask);

  --segmented-control-color: var(--color-primary);
  --segmented-control-height: 27px;
  --segmented-control-fill-tap: var(--color-primary);

  --slide-dot-bgc: var(--color-text-light);
  --slide-dot-active-bgc: var(--color-primary);

  --steps-icon-border-color: #b8becc;
  --steps-description-color: #b8becc;
  --steps-tail-color: #b8becc;
  --steps-process-icon-color: var(--color-primary);
  --steps-process-title-color: var(--color-text-base);
  --steps-process-description-color: #b8becc;
  --steps-process-tail-color: #b8becc;

  --steps-wait-icon-color: #b8becc;
  --steps-wait-title-color: #b8becc;
  --steps-wait-description-color: #b8becc;
  --steps-wait-tail-color: #b8becc;

  --steps-finish-icon-color: var(--color-primary);
  --steps-finish-title-color: var(--color-text-base);
  --steps-finish-description-color: #b8becc;
  --steps-finish-tail-color: var(--steps-process-icon-color);

  --steps-error-icon-color: var(--color-error);
  --steps-error-title-color: var(--steps-error-icon-color);
  --steps-error-description-color: var(--color-text-secondary);
  --steps-error-tail-color: var(--steps-process-icon-color);

  --stepper-button-bg: #f5f6fa;
  --stepper-step-color: #98a0b3;
  --stepper-button-border-color: #dcdfe6;

  --switch-background: #fff;
  --switch-border-color: rgba(0, 0, 0, 0.1);

  --toast-color: var(--color-text-white);
  --toast-bgc: #666666;
  --toast-min-width: 170px;
  --toast-max-width: 255px;
}
